
.App {
  text-align: center;
  font-family:Inter;
  width: 100vw;
  height: 100vh;
  background: #f8f8fc;
  color:#302268;
}
.navbar{
  background: #7262b3;
  width: 100vw;
  height: 50px;
  color:#f8f8fc; 
}
.Portfolio-Header{
  font-family: Inter;
  font-size: 48px;
}
.div-body{
  margin: 15px;
}