
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html, #root {
  height: 100%;
  width: 100%;
  background: #f8f8fc;
  font-family: Inter, sans-serif;
}

.ul{
  list-style-type: circle;
  align-items: left;
  justify-content: left;
}

.App {
  text-align: center;
  font-family:Inter;
  width: 100vw;
  height: 100vh;
  background: #f8f8fc;
  color:#302268;
}

.main-text{
  margin: 10px;
  font-size: 36px;
  font-weight: 500;
}
.main-text-bold{
  margin: 10px;
  font-size: 36px;
  font-weight: 750;
}

.main-text-light-bold{
  margin: 10px;
  font-size: 26px;
  color: #7262B3;
  font-weight: 800;
}

.content-text{
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
}

.navbar{
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100vw;
  height: 75px;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #7262b3;
  color: #f8f8fc;
}
.nav-item{
  color:#f8f8fc;
  align-self: stretch;
  font-weight: 400;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px 50px;
  line-height: 60px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.nav-item:hover{
  background-color: #5b4d92;
  color: #f1f1ff;
  transform: scale(1.05);
}
.window{
  background: #f8f8fc;
  width: 100vw;
  height: 786px;
  position: absolute;
  left: 0px;
  top: 84px;
}
.frame-view{
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div-body{
  margin: 15px;
}
.home-page{
  margin: 50px;
  text-align: left;
  background: #f8f8fc;
  align-self: stretch;
  flex-shrink: 0;
  height: 786px;
  position: relative;
  overflow: hidden;
}
.rectangle-behind-img {
  background: #7262b3;
  border-radius: 10px;
  width: 449px;
  height: 602px;
  position: absolute;
  left: 897px;
  top: 109px;
  aspect-ratio: 449/602;
}
.image-headshot{
  border-radius: 15px;
  border-style: solid;
  border-color: #f8f8fc;
  border-width: 6px;
  width: 449.16px;
  height: 602px;
  position: absolute;
  left: 860px;
  top: 65px;
  object-fit: cover;
  aspect-ratio: 449.16/602;
}
.intro-text{
  margin: 50px;
  position: absolute;
  top: 200px;  
}
.my-name-is{
  font-family: 'Inter-ExtraBold', sans-serif;
  font-size: 3rem;
  margin: 10px;
  text-align: left;
}
.ima-sw{
  margin: 10px;
  color: #7262B3;
  font-family: 'Inter-ExtraBold', sans-serif;
  font-size: 2rem;
}
.education{
  background: #f8f8fc;
  align-self: stretch;
  flex-shrink: 0;
  height: 880px;
  position: relative;
  overflow: hidden;
}
.rectangle-behind-grad-img{
  background: #7262b3;
  border-radius: 10px;
  width: 422.13px;
  height: 534px;
  position: absolute;
  left: 44px;
  top: 228px;
  aspect-ratio: 422.13/534;
}

.image-grad-photo{
  border-radius: 15px;
  border-style: solid;
  border-color: #f8f8fc;
  border-width: 5px;
  width: 399.76px;
  height: 506px;
  position: absolute;
  left: 80px;
  top: 205px;
  object-fit: cover;
  aspect-ratio: 399.76/506;
}
.education-text-content{
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 843px;
  position: absolute;
  left: 574px;
  top: 138px;
}
.asu-alumna{
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.asu-introduction{
  color: #302268;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  font-weight: 800;
  position: relative;
  width: 800px;
}
.frame-skills-encompassing{
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 100%;
  position: relative;
}
.frame-toptext{
  display: flex;
  flex-direction: row;
  gap: 34px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-web{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 218px;
  position: relative;
}
.web-design{
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.web-development{
  color: #302268;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-data {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 291px;
  position: relative;
}
.database-administrator {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.database-management-firebase-sql {
  color: #302268;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 276px;
}
.frame-ai {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 242px;
  position: relative;
}
.artificial-intelligence {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.text-ai-desc {
  color: #302268;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-lowertext {
  display: flex;
  flex-direction: row;
  gap: 130px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 555px;
  height: 224px;
  position: relative;
}
.frame-ml {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 220px;
  position: relative;
}
.graph {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.text-ml-desc {
  color: #302268;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-agile {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 205px;
  position:relative;
}
.timesheet {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.text-scrum-desc {
  color: #302268;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.resume-button-div {
  background: #7262b3;
  border-radius: 10px;
  margin: 10px;
  padding: 7px 50px 7px 50px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 14vh;
  position: relative;

  color: #ffffff;
  background: #7262b3;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  width: 100%;
}
.resume {
  flex-shrink: 0;
  /* width: 90px; */
  /* height: 90px; */
  position: relative;
  object-fit: cover;
}
.resume-button {
  color: #ffffff;
  background: #7262b3;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  width: 100%;
}
.resume-button-div:hover{
  background-color: #5b4d92;
  color: #f1f1ff;
  transform: scale(1.05);
}
.projects {
  background: #f8f8fc;
  align-self: stretch;
  flex-shrink: 0;
  height: 885px;
  position: relative;
  overflow: hidden;
}
.project-list-div {
  display: flex;
  flex-direction: row;
  gap: 45px;
  margin: 10px;
  align-items: left;
  justify-content: left;
  position: absolute;
  left: 50px;
  top: 175px;
}
.capstone-box {
  background: #d6cdfc;
  border-radius: 10px;
  border-style: dashed;
  border-color: #302268;
  border-width: 3px;
  padding: 33px 58px 33px 58px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: left;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 25vw;
  height: 70vh;
  position: relative;
}
.capstone {
  color: #302268;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
.capstone-box-content{
  text-align: left;
}
.li{
  text-align: left;
}
.vector-1 {
  flex-shrink: 0;
  width: 288px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.sase-box {
  background: #d6cdfc;
  border-radius: 10px;
  border-style: dashed;
  border-color: #302268;
  border-width: 3px;
  padding: 33px 58px 33px 58px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 25vw;
  height: 70vh;
  position: relative;
}
.sase-web-committee-member {
  color: #302268;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  width: 22vw;
  height: 88px;
}
.sase-box-content{
  text-align: left;
  /* width: 22vw; */
}
.vector-2 {
  flex-shrink: 0;
  width: 303px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.nb-model-box {
  background: #d6cdfc;
  border-radius: 10px;
  border-style: dashed;
  border-color: #302268;
  border-width: 3px;
  padding: 33px 58px 33px 58px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 25vw;
  height: 70vh;
  position: relative;
}
.training-a-naive-bayes-ml-model {
  color: #302268;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  width: 385px;
  /* height: 88px; */
}
.nb-box-content{
  margin-top: 10%;
  text-align: left;
}
.vector-3 {
  flex-shrink: 0;
  width: 303px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.project-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 69px;
  top: 78px;
}
.projects-and-experience {
  color: #302268;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: relative;
}
.contact {
  background: #f8f8fc;
  /* padding: 4rem 2rem; */
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.contact-header {
  /* padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 69px;
  top: 78px; */
  padding:10px;
  display: flex;
  width: 100%;
  left: 69px;
  position: relative;
  flex-direction: column;  

}
.contact-title {
  color: #302268;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: relative;
}
.contact-subtitle {
  font-family: 'Inter-ExtraBold', sans-serif;
  font-size: 2rem;
  text-align: left;
  color: #7262b3;
}
.contact-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 100vh;
  max-width: 100vw;
  margin-right: -50%;
  margin-top: 20px;
  gap: 105px;
}
.contact-card {
  background: #f8f8fc;
  border: 3px solid #302268;
  border-radius: 10px;
  padding: 1.5rem;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.contact-icon {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 1rem;
}
.contact-card h3 {
  font-size: 1.5rem;
  color: #302268;
  margin-bottom: 0.5rem;
  font-family: 'Inter-ExtraBold', sans-serif;
}
.contact-link {
  font-size: 1rem;
  font-family: 'Inter-ExtraBold', sans-serif;
  color: #302268;
  text-decoration: none;
  word-break: break-word;
}
.contact-link:hover {
  text-decoration: underline;
}

.nav-bar {
  background: #d6cdfc;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1440px;
  height: 86px;
  position: fixed;
  left: 0px;
  top: 0px;
}
.nav-bar-content {
  display: flex;
  flex-direction: row;
  gap: 93px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 86px;
  position: relative;
}
.frame-4 {
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.home {
  color: #302268;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 36px;
  font-weight: 800;
  position: relative;
}
.frame-5 {
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.experience {
  color: #302268;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 36px;
  font-weight: 800;
  position: relative;
}
.frame-6 {
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.education3 {
  color: #302268;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 36px;
  font-weight: 800;
  position: relative;
}
.frame-7 {
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.contact2 {
  color: #302268;
  text-align: left;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 36px;
  font-weight: 800;
  position: relative;
}


